.sort {
    margin-left: 160px;
}
.sort button {
    margin-right: 50px;
    background: #0f1526;
    color: white;
    height: 30px;
    width: 250px;
    border: #0f1526 solid 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
}
.sort button:hover {
    background: white;
    color: black;
    transition: 500ms;
    transform: scale(1.1);
}
